.page_play {
  width: $width-page;

  @include flex($direction: column);

  @include media-mobile {
    width: $width-page-min;
  }
}

.page_play__instruction {
  text-align: center;

  @include font($size: 1.8rem, $line-height: 130%);
}
