.app {
  .rhap_container {
    box-shadow: none;
  }

  .rhap_progress-section {
    position: relative;
  }

  .rhap_current-time,
  .rhap_total-time {
    position: absolute;
    top: 3.3rem;

    opacity: 0.5;

    @include font($size: 1.3rem, $line-height: 100%, $spacing: 0);
  }

  .rhap_current-time {
    left: 5.8rem;
  }

  .rhap_total-time {
    right: 8.2rem;
  }

  .rhap_volume-controls {
    flex: 0 0 7rem;
  }

  .question .rhap_container {
    padding: 0 1.8rem 0 0.8rem;
  }

  .show-info .rhap_container {
    padding: 1rem 3.4rem 1rem 1.8rem;
  }
}
