.button {
  position: relative;
  padding: 2rem 6rem;

  text-transform: uppercase;

  color: $color-light;
  z-index: 4;

  @extend %button-shining;
  @include font($size: 2.8rem, $line-height: 140%, $spacing: 0.2rem);

  &:hover {
    animation: animate-button 8s linear infinite;

    &::before {
      filter: blur(2rem);
      opacity: 1;
      animation: animate-button 8s linear infinite;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: $shining-size;
    left: $shining-size;
    right: $shining-size;
    bottom: $shining-size;
    z-index: -1;
    opacity: 0;
    transition: $animation-time;

    @extend %button-shining;
  }
}

@keyframes animate-button {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 400%;
  }
}

.button:disabled,
.button[disabled] {
  background: $color-inactive;

  &:hover {
    background: $color-inactive;
    animation: none;
    transition: none;
  }

  &:hover::before,
  &::before {
    background: $color-inactive;

    top: auto;
    left: auto;
    right: auto;
    bottom: auto;

    filter: none;
    animation: none;
  }
}
